.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rhistory
*~
*.Rdata
*.RData
out*
!output
output/*
!output/ITA_fit.Rdata
/rdata/*
/figures/*
*.pdf
*.html
!application-countries/BSP_stepbystep.html

